name: Run checks

on:
  pull_request:
  push:
    branches: [master]

jobs:
  nox:
    strategy:
      fail-fast: false
      matrix:
        django: ["3.0", "3.1", "3.2", "4.0", "latest"]
        python: ["3.7", "3.8", "3.9", "3.10"]
        # Last Django not supported in old python
        exclude:
          - python: "3.7"
            django: ["4.0", "latest"]

    runs-on: "ubuntu-latest"

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Install nox
      run: |
        python -m pip install --upgrade pip
        python -m pip install nox

    - name: Run pytest tests with nox
      run: nox -s "tests-${{ matrix.python }}(${{django}})"

    - name: Send coverage report to codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml

    - name: Send coverage report to codeclimate
      uses: paambaati/codeclimate-action@v2.6.0
      with:
        coverageCommand: echo "Ignore rerun"
        coverageLocations: ${{github.workspace}}/coverage.xml:coverage.py
      env:
        CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
